<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/style_main.css" rel="stylesheet" type="text/css"/>
<link href="static/css/responsivestyle.css" rel="stylesheet" type="text/css"/>
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="static/css/animate.min.css" rel="stylesheet" type="text/css"/>
<link href="static/css/hover-min.css" rel="stylesheet" type="text/css"/>

<!--Circle effects-->
 <link rel="stylesheet" type="text/css" href="static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="static/css/common.css" />
        <link rel="stylesheet" type="text/css" href="static/css/style_circle.css" />

    <title>About</title>
</head>
<body>
    <header id="header_nav">

        <nav class="navbar navbar-default navigation navbar-fixed-top">
        
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#" style="color:#fff;">Health</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('home') }}" title="Home">Home</a></li>
                <li><a href="{{ url_for('about') }}" title="About Us">About Us</a></li>
                <li><a href="{{ url_for('service') }}" title="Our Services">Our Services</a></li>
                <li><a href="{{ url_for('treatment') }}" title="Our Treatments">Our Treatments</a></li>
                 
                 <li><a href="#" title="Our Hospital">Our Hospital</a></li>
                  <li><a href="{{ url_for('partner') }}" title="Become Our Partner">Become Our Partner</a></li>
                  <li><a href="{{ url_for('contact') }}" title="Contact Us">Contact Us</a></li>
                  
                  <li><a style="color:#F90;">Call Us :- <strong style="font-size:22px;font-weight:bold;"><i class="fa fa-phone" aria-hidden="true"></i>  011-29995261</strong></a></li>
              </ul>
              
             
              </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </header><!--Header ends here-->

    <div class="section_two_new" data-diff="100" id="about_us">
        <div class="container">
        <h1>About Health Care(HIMT)</h1>
        <p style="text-align:center;">The HIMT is  Philipine leading medical tourism company offers vital services to the
       
       patients away from their countries. Our International patients care team provides
       
       personalised care and assist patients and their companion with array of specialised
       
       services in including companion, travel and tourism.</p>
        
        <div class="col-sm-12">
        <div class="col-sm-3 center_content wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
        <img src="static/images/About_us icons/1sticon.png" class="img-responsive center-block" alt="icon">
        <h3>Why You Need Us</h3>
        <p>Many patients may know of a destination or provider of interest, but certain factors may
       
       come into play which leads them to you.. </p>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#whyu_nneed">Know More</button>
        
        <div class="modal fade" id="whyu_nneed" tabindex="-1" role="dialog">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" style="color:#000;">Why You Need Us</h4>
             </div>
             <div class="modal-body trea_hahah">
               <h1>Why you need us?</h1>
               <p>We assist you at each step of your journey from the moment you decide to travel to
       
       India. Our team comprising of highly qualified healthcare personnel, language
       
       translator/interpreter and tour/travel experts are always ready to assist you in your
       
       medical and daily needs involved in treatment stay in India. Our tour and travel
       
       department designs tour packages that let you explore exciting destinations. To take
       
       away your worries of stay in India, we take care of your accommodation needs and
       
       do every possible bit to make your stay pleasant and comfortable and special.</p>
               
       <p>
       <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Don’t know who to contact<br>
       
       <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>   Language barriers<br>
       
       <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>   Facilities and Frontier technology<br>
       
       <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>   Affordable treatment options and financial savings<br>
       
       <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>   Competent and qualified Doctors<br>
       </p>
       
        <p><strong>Many patients may know of a destination or provider of interest, but certain factors may
       
       come into play which leads them to you to help ease the process:</strong></p>
       
       
       <p>Ultimately, we are a representative of the patient who is in a foreign country and in a
       
       vulnerable position; if there are issues with any part of the process, they need to be
       
       addressed immediately by us.</p>
       
       <p>We ensure the hospitals, you visit are only that which have been accredited by recognized
       
       international accrediting bodies [e.g., National Accreditation Board for Hospitals &amp; Health
       
       care Providers (NABH) and International Society for Quality in Health Care (ISQua), etc.]. We
       
       try that you receive affordable cost without compromising with quality of treatment
       
       facilities.</p>
               
             </div>
             <div class="modal-footer">
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary">Save changes</button>-->
             </div>
           </div>
         </div>
       </div>
        
        
        </div>
        
        <div class="col-sm-3 center_content wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
        <img src="static/images/About_us icons/icon2.png" class="img-responsive center-block" alt="icon">
        
         <h3>HIMT at a Glance</h3>
        <p>Medical tourism or health tourism is the travel of people to
        another country for the purpose of obtaining medical treatment... </p>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#hitm_glas">Know More</button>
        
        <div class="modal fade" id="hitm_glas" tabindex="-1" role="dialog">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" style="color:#000;">Humane Medical Tourism (HMT) Services-AT A GLANCE</h4>
             </div>
             <div class="modal-body trea_hahah">
              <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>    A leader in Medical Tourism and Facilitation services <br>
       
       <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>    Translator of various the languages (Arabic, Russian, French, Spanish, and Tribal<br>
       
       languages of Afghanistan, etc.)<br>
       
       <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>    Patients from across the globe (Middle East, America, Spain, Europe, The
       
       Commonwealth of Independent States- Armenia, Belarus, Kazakhstan, Kyrgyzstan,
       
       Moldova, Russia, Tajikistan, Turkmenistan, Ukraine, and Uzbekistan, Africa, France
       
       and Asia etc.)<br>
       
       <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>    More than 60 treatment categories with over more than 500 procedures related to
       
       various diseases.<br>
       
       <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>    Treatment cost comparison options<br>
       
       <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>    Collaborations with world class IVF (Infertility Treatment) centers<br></p>
             </div>
             <div class="modal-footer">
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary">Save changes</button>-->
             </div>
           </div>
         </div>
       </div>
        </div>
        
        <div class="col-sm-3 center_content wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
        <img src="static/images/About_us icons/3rdicon.png" class="img-responsive center-block" alt="icon">
         <h3 style="text-transform:capitalize;">Treatment Cost Comparison </h3>
        <p>In this section we Humane International Medical Tourism (HIMT) services have provided an illustration of the cost...</p>
        
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#awqswasq">Know More</button>
        <div class="modal fade" id="awqswasq" tabindex="-1" role="dialog" aria-labelledby="">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" style="color:#000;">Treatment Cost Comparison</h4>
             </div>
             <div class="modal-body trea_hahah">
             <h1> <img src="static/images/teeeeeq.jpg" width="550" height="365" class="img-responsive"></h1>
             <p>In this section we Humane International Medical Tourism (HIMT) services have provided an illustration of the cost differences for medical treatment between the India and abroad (mainly USA). However, it is not only the significant savings but also the high standard of facilities, quality of treatment and service, which makes medical tourism a real attractive package.<br><br>
       The prices below are treatment procedure cost inclusive of transfers to and from the hospital. If you would like to be accompanied by a relative or a friend during your treatment, we HIMT can arrange this at very affordable price.</p>
             <h1 style="text-align:center;">Treatment Cost Comparison* </h1>
             <p>
             <table class="table table-bordered">
            
             
             <thead>
             <th style="background-color:#6cb4f7;color:#fff;">Medical Procedure</th>
             <th style="background-color:#6cb4f7;color:#fff;">Thailand</th>
             <th style="background-color:#6cb4f7;color:#fff;">Colombia</th>
             <th style="background-color:#6cb4f7;color:#fff;">USA</th>
             <th style="background-color:#6cb4f7;color:#fff;">India</th>
             <th style="background-color:#14ae35;color:#fff;">Your Saving in India </th>
             </thead>
             
             <tbody>
             <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Heart Bypass</td>
            <td style="background-color:#6cb4f7;color:#fff;">$15,121 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$14,802 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$1,44,000 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$5,200 </td>
            <td style="background-color:#14ae35;color:#fff;">$9,200 </td>
            </tr>
            
            <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Angioplasty</td>
            <td style="background-color:#6cb4f7;color:#fff;">$3,788  </td>
            <td style="background-color:#6cb4f7;color:#fff;">$4,500 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$57,000  </td>
            <td style="background-color:#6cb4f7;color:#fff;">$3,300  </td>
            <td style="background-color:#14ae35;color:#fff;">$53,700 </td>
            </tr>
            
            <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Heart Valve Replacement</td>
             <td style="background-color:#6cb4f7;color:#fff;">$21,212 </td>
              <td style="background-color:#6cb4f7;color:#fff;">$18,000 </td>
               <td style="background-color:#6cb4f7;color:#fff;">$1,70,000 </td>
                <td style="background-color:#6cb4f7;color:#fff;">$5,500 </td>
                 <td style="background-color:#14ae35;color:#fff;">$1,64,500 </td>
            </tr>
            
             <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Hip Replacement</td>
             <td style="background-color:#6cb4f7;color:#fff;">$7,879 </td>
              <td style="background-color:#6cb4f7;color:#fff;">$6,500 </td>
               <td style="background-color:#6cb4f7;color:#fff;">$50,000 </td>
                <td style="background-color:#6cb4f7;color:#fff;">$7,000 </td>
                 <td style="background-color:#14ae35;color:#fff;">$43,000 </td>
            </tr>
            
             <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Hip Resurfacing</td>
             <td style="background-color:#6cb4f7;color:#fff;">$15,152 </td>
              <td style="background-color:#6cb4f7;color:#fff;">$10,500 </td>
               <td style="background-color:#6cb4f7;color:#fff;">$50,000 </td>
                <td style="background-color:#6cb4f7;color:#fff;">$7,000 </td>
                 <td style="background-color:#14ae35;color:#fff;">$43,000 </td>
            </tr>
            
             <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Knee Replacement</td>
             <td style="background-color:#6cb4f7;color:#fff;">$12,297 </td>
              <td style="background-color:#6cb4f7;color:#fff;">$6,500 </td>
               <td style="background-color:#6cb4f7;color:#fff;">$50,000 </td>
                <td style="background-color:#6cb4f7;color:#fff;">$6,200 </td>
                 <td style="background-color:#14ae35;color:#fff;">$43,800 </td>
            </tr>
            
             <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Spinal Fusion</td>
             <td style="background-color:#6cb4f7;color:#fff;">$9,091 </td>
              <td style="background-color:#6cb4f7;color:#fff;">N/A</td>
               <td style="background-color:#6cb4f7;color:#fff;">$1,00,000 </td>
                <td style="background-color:#6cb4f7;color:#fff;">$6,500 </td>
                 <td style="background-color:#14ae35;color:#fff;">$93,500 </td>
            </tr>
            
             <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Dental Implant</td>
             <td style="background-color:#6cb4f7;color:#fff;">$3,636 </td>
              <td style="background-color:#6cb4f7;color:#fff;">$1,750 </td>
               <td style="background-color:#6cb4f7;color:#fff;">$2,800 </td>
                <td style="background-color:#6cb4f7;color:#fff;">$1,000 </td>
                 <td style="background-color:#14ae35;color:#fff;">$1,800 </td>
            </tr>
            
             <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Lap Band</td>
             <td style="background-color:#6cb4f7;color:#fff;">$11,515 </td>
              <td style="background-color:#6cb4f7;color:#fff;">$9,900 </td>
               <td style="background-color:#6cb4f7;color:#fff;">$30,000 </td>
                <td style="background-color:#6cb4f7;color:#fff;">$3,000 </td>
                 <td style="background-color:#14ae35;color:#fff;">$27,000 </td>
            </tr>
            
             <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Breast Implants</td>
             <td style="background-color:#6cb4f7;color:#fff;">$2,727 </td>
              <td style="background-color:#6cb4f7;color:#fff;">$2,500 </td>
               <td style="background-color:#6cb4f7;color:#fff;">$10,000 </td>
                <td style="background-color:#6cb4f7;color:#fff;">$3,500 </td>
                 <td style="background-color:#14ae35;color:#fff;">$6,500 </td>
            </tr>
            
             <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Rhinoplasty</td>
             <td style="background-color:#6cb4f7;color:#fff;">$3,901 </td>
              <td style="background-color:#6cb4f7;color:#fff;">$2,500 </td>
               <td style="background-color:#6cb4f7;color:#fff;">$8,000 </td>
                <td style="background-color:#6cb4f7;color:#fff;">$4,000 </td>
                 <td style="background-color:#14ae35;color:#fff;">$4,000 </td>
            </tr>
            
            <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Face Lift</td>
            <td style="background-color:#6cb4f7;color:#fff;">$3,697 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$5,000 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$15,000</td>
            <td style="background-color:#6cb4f7;color:#fff;">$4,000 </td>
            <td style="background-color:#14ae35;color:#fff;">$11,000 </td>
            </tr>
            
            <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Hysterectomy</td>
            <td style="background-color:#6cb4f7;color:#fff;">$2,727 </td>
            <td style="background-color:#6cb4f7;color:#fff;">N/A</td>
            <td style="background-color:#6cb4f7;color:#fff;">$15,000 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$2,500 </td>
            <td style="background-color:#14ae35;color:#fff;">$12,500 </td>
            </tr>
            
            <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Gastric Sleeve</td>
            <td style="background-color:#6cb4f7;color:#fff;">$13,636 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$7,200 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$28,700 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$5,000</td>
            <td style="background-color:#14ae35;color:#fff;">$23,700 </td>
            </tr>
            
            <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Gastric Bypass</td>
            <td style="background-color:#6cb4f7;color:#fff;">$16,667 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$9,900 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$32,972 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$5,000 </td>
            <td style="background-color:#14ae35;color:#fff;">$27,972 </td>
            </tr>
            
            <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Liposuction</td>
            <td style="background-color:#6cb4f7;color:#fff;">$2,303 </td>
            <td style="background-color:#6cb4f7;color:#fff;" >$2,500 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$9,000 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$2,800 </td>
            <td style="background-color:#14ae35;color:#fff;">$6,200 </td>
            </tr>
            
            <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Tummy Tuck</td>
            <td style="background-color:#6cb4f7;color:#fff;">$5,000 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$3,500 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$9,750 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$3,000 </td>
            <td style="background-color:#14ae35;color:#fff;">$6,750 </td>
            </tr>
            
            <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Lasik (both eyes)</td>
            <td style="background-color:#6cb4f7;color:#fff;">$1,818 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$2,000 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$4,400 </td>
            <td style="background-color:#6cb4f7;color:#fff;">$500 </td>
            <td style="background-color:#14ae35;color:#fff;">$3,900 </td>
            </tr>
            
            <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Cornea
       (both eyes)
       </td>
            <td style="background-color:#6cb4f7;color:#fff;">$1,800 </td>
            <td style="background-color:#6cb4f7;color:#fff;">N/A</td>
            <td style="background-color:#6cb4f7;color:#fff;">N/A</td>
            <td style="background-color:#6cb4f7;color:#fff;">N/A</td>
            <td style="background-color:#14ae35;color:#fff;">N/A</td>
            </tr>
            
            <tr>
            <td style="background-color:#6cb4f7;color:#fff;">Retina</td>
            <td style="background-color:#6cb4f7;color:#fff;">$4,242 </td>
            <td style="background-color:#6cb4f7;color:#fff;">N/A</td>
            <td style="background-color:#6cb4f7;color:#fff;">N/A</td>
            <td style="background-color:#6cb4f7;color:#fff;">$850 </td>
            <td style="background-color:#14ae35;color:#fff;">N/A</td>
            </tr>
            
            <tr>
            <td style="background-color:#6cb4f7;color:#fff;">IVF Treatment</td>
            <td style="background-color:#6cb4f7;color:#fff;">$9,091 </td>
            <td style="background-color:#6cb4f7;color:#fff;">N/A</td>
            <td style="background-color:#6cb4f7;color:#fff;">N/A</td>
            <td style="background-color:#6cb4f7;color:#fff;">$3,250 </td>
            <td style="background-color:#14ae35;color:#fff;">N/A</td>
            </tr>
            
           
            
             </tbody>
             
             </table>
             </p>
             
       <h1>The Treatment Cost Advantage in India</h1>
       <p>India is the sought after location for organ transplant, orthopedic, cardiology, urology, fertility/reproductive health and oncology problems. As per Patient Beyond Borders, the <strong>average saving in India for key specialties and procedures is nearly 65-90% cheaper than the US</strong> and much lower than competing countries like Thailand, Malaysia, Singapore, Korea, etc. Further, the INR depreciation by 13% last year has also aided medical tourism in India, and as per an Assocham study the number of <strong>medical tourists coming to India has risen by 40% </strong>during the period of sharp INR depreciation. It also have been observed that the <strong>INR depreciation has reduced cost of complex surgeries by 35-45% for patients from Middle East, Africa and SAARC countries</strong>.<br><br>
       Health care costs in India can run as low as ten cents on the dollar compared to the US or the UK. Popular treatments include bone-marrow transplants, eye surgery and hip grafting and replacement. <strong>India is also a top destination for cardiac bypass surgery </strong>at various hospitals; the <strong>procedure can cost less than $10,000 as compared to more than $100,000 in the West</strong>.</p>
         
         <h1><img src="static/images/wssss.gif" class="img-responsive"></h1>
              
             </div>
             <div class="modal-footer">
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary">Save changes</button>-->
             </div>
           </div>
         </div>
       </div>
        
        </div>
        
        <div class="col-sm-3 center_content wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
        <img src="static/images/About_us icons/icon4.png" class="img-responsive center-block" alt="icon">
         <h3>Why Philipines</h3>
        <p>Medical tourism or health tourism is the travel of people to
        another country for the purpose of obtaining medical treatment... </p>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#jugugjhg">Know More</button>
        <div class="modal fade" id="jugugjhg" tabindex="-1" role="dialog" aria-labelledby="">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" style="color:#000;">WHY INDIA AS MEDICAL TREATMENT DESTINATION</h4>
             </div>
             <div class="modal-body trea_hahah">
              <h1><img src="static/images/w1.jpg" class="img-responsive"></h1>
              
              <p>India has become a top health tourism destination for patients across the globe for high-end surgeries at inexpensive prices. Two of the top ten medical tourism hospitals are based in India. <br><br>
       India is emerging as a preferred healthcare destination for Stories of <strong>Westerners traveling to India and saving 75% over home country costs for large procedures-travel costs included-are not uncommon</strong>.<br><br>
       A growing number of tourists are flocking in large numbers because of the superlative medical care, equipment and facilities that India offers at affordable costs. India is considered a highly effective center for specialized treatments such as open-heart surgery, hip & knee replacement, pediatric, cardiac surgery, dentistry, bone marrow transplant, cosmetic surgery, and therapy of cancer, among others. The Indian government is easing restrictions on citizens of many countries, making it easier for them to travel to India, visa-free and with fewer restrictions (US citizens do need a visa to enter India, which costs $67 plus any agency service fees).</p>
              
              <p>India is in the process of becoming the "Global Health Destination" owing to the following advantages:<br><br>
              
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>        The cost of medical services in India is almost 30% lower to that in Western countries and the cheapest in South-east Asia.<br>
       <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>    The cost of Infertility treatments in India is almost 1/4th of that in developed nations. The availability of modern assisted reproductive techniques, such as IVF, and a full range of Assisted Reproductive Technology (ART) services have made India the first choice for infertility treatments.<br>
       <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>    Language is a major comfort factor that invites so many foreign tourists to visit India for medical and health tourism. India has a large populace of good English speaking doctors, guides and medical staff. This makes it easier for foreigners to relate well to Indian doctors.<br>
       <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>    Indian hospitals excel in cardiology and cardiothoracic surgery, joint replacements, transplants, cosmetic treatments, dental care, Orthopaedic surgery and more.<br>
       
       </p>
       
        <h1>A. Fast Track-Zero Waiting Time</h1>  
        <p>Quick and immediate attention for surgeries and all interventions are assured in India. Getting an appointment for bypass surgery or a planned angioplasty in certain countries takes almost 3-6 months. And there these treatments are very costly too. It’s zero waiting time in India for any procedure, be it heart surgery, kidney care, cancer treatment, neuro-spinal procedure, knee/hip/joint replacements, dental, cosmetic surgeries, weight loss surgery etc.</p>
        
        <h1>B. Feeling the pulse</h1>
        <p>For greater understanding between patients and healthcare personnel, the warmth and hospitality of Indian hospitals is a big factor in choosing India as a healthcare destination. Among the top medical destinations of the world, India has the highest percentage of English language speaking people. Amidst the variety of culture and traditions, if there is one thing that is common in India, that is the English language. If other language options are essential, there are expert interpreters who will be some time arranged by the hospitals. All leading to reassuring hospitality and great after care. </p>
        
        <h1>C. Skilled and well-qualified doctors </h1>
        
        <p>Doctors tend to be highly trained, due to large medical tourism cities like Chennai and Noida having foreign patients fill half their hospital beds. Also, the language barrier is lower for English speakers, and Indian hospitals are bringing in translators for non-English speaking foreigners. Indian doctors and surgeons are well known throughout the world for their skills and research. This country offers you the services of some of the world's highest-qualified medical professionals along with top-class biomedical facilities. </p>
        
        <h1>D. Customized services</h1>
        
        <p>Here, patients can avail healthcare benefits in facilities varying in size from small, specialized clinics to large, multi-specialty hospitals. India's offerings are classified into a range of categories that can suit every budget and every need. </p>
        
        <h1>E. Use of latest technologies</h1>
        <p>ndian hospitals are equipped with highly advanced equipment and use latest technologies to offer sophisticated medical services that are easily comparable to those offered by developed countries. 
       The drivers for growth in medical tourism in India are lower cost, scale and range of treatments, internationally accredited healthcare facilities (~19 JCI-accredited hospitals), availability of skilled doctors/nursing staff, sophisticated medical technology and infection control processes without the long waiting period of the developed countries.</p>
           <h1><img src="static/images/we.png" class="img-responsive"></h1> 
           
           <h1>F. Growing Trends</h1>
           
           <p>As per estimates, around 1.7 lakh foreigners fly to India for medical treatment every year, to avail world class personalized healthcare services. Indian hospitals meet international standards of cleanliness and hygiene and their top-class infrastructure suits the needs of patients coming for treatments such as heart surgery, knee replacement, orthopaedic treatments, cosmetic surgery, eye care, dental treatment or any other healthcare need.</p>
           
           
             </div>
             <div class="modal-footer">
               <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary">Save changes</button>-->
             </div>
           </div>
         </div>
       </div>
       
       
        </div>
        </div>
        </div> 
        
         </div><!--about us section end here-->

<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/wow.min.js"></script>
<script>new WOW().init();</script>
<script src="static/js/skroll_background.js"></script>
<script>
    $(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>

</body>
</html>