<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/style_main.css" rel="stylesheet" type="text/css"/>
<link href="static/css/responsivestyle.css" rel="stylesheet" type="text/css"/>
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="static/css/animate.min.css" rel="stylesheet" type="text/css"/>
<link href="static/css/hover-min.css" rel="stylesheet" type="text/css"/>

<!--Circle effects-->
 <link rel="stylesheet" type="text/css" href="static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="static/css/common.css" />
        <link rel="stylesheet" type="text/css" href="static/css/style_circle.css" />

    <title>Services</title>
</head>
<body>
    <header id="header_nav">

        <nav class="navbar navbar-default navigation navbar-fixed-top">
        
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#" style="color:#fff;">Health</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('home') }}" title="Home">Home</a></li>
                <li><a href="{{ url_for('about') }}" title="About Us">About Us</a></li>
                <li><a href="{{ url_for('service') }}" title="Our Services">Our Services</a></li>
                <li><a href="{{ url_for('treatment') }}" title="Our Treatments">Our Treatments</a></li>
                 
                 <li><a href="#" title="Our Hospital">Our Hospital</a></li>
                  <li><a href="{{ url_for('partner') }}" title="Become Our Partner">Become Our Partner</a></li>
                  <li><a href="{{ url_for('contact') }}" title="Contact Us">Contact Us</a></li>
                  
                  <li><a style="color:#F90;">Call Us :- <strong style="font-size:22px;font-weight:bold;"><i class="fa fa-phone" aria-hidden="true"></i>  011-29995261</strong></a></li>
              </ul>
              
             
              </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </header><!--Header ends here-->

    <section id="ser_vicesnew" class="fullscreen background parallax sec_three" data-img-width="1600" data-img-height="1064" data-diff="100">
        <h1>Our Services</h1>
        <p>We, HIMT make our patients feel at home, while they are away from home. 
      
      We make sure that the patients and their relatives feel safe and comfortable in India.<br>
      
      We, HIMT leave no stone unturned to ensure that our patients get the best treatment
      
      possible at affordable cost without compromising the quality.</p>
        
        <div class="container">
        <div class="col-xs-12 col-sm-3 wow flipInX" data-wow-duration="1000ms" data-wow-delay="400ms">
        <div class="servi_new_3">
        <h1><img src="static/images/serv/serv1.jpg" class="img-responsive"></h1>
        
        <h3>Medical review and evaluation”</h3>
        
        <p>Traveling to non-native country for treatment is a difficult decision for any patient. Many patients may know of a destination or provider of interest, but certain factors (Language barriers, Facilities and Frontier technology & Affordable treatment options and financial savings) can lead to a plethora of problems in a foreign land, Keeping this mind, we, at Humane Medical Tourism, make our patients <strong>feel at home, while they are away from home. </strong></p>
       
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#serviceo_ne">Know More</button>
       
       <div class="modal fade" id="serviceo_ne" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" style="text-align:left;">1. OUR SERVICE</br> <small style="display:block;color:#000;text-align:right;font-style:italic;">Home away from Home</small></h4>
            </div>
            <div class="modal-body">
            <h1><img src="static/images/serv/s1.jpg" class="img-responsive center-block"></h1>
             <p style="color:#09F;">Traveling to non-native country for treatment is a difficult decision for any patient. Many patients may know of a destination or provider of interest, but certain factors (Language barriers, Facilities and Frontier technology & Affordable treatment options and financial savings) can lead to a plethora of problems in a foreign land, Keeping this mind, we, at Humane Medical Tourism, make our patients <strong>feel at home, while they are away from home</strong>.</p>
             
             <p>Firstly, we make sure that the patients and their relatives feel safe and comfortable in India. Secondly, we leave no stone unturned to ensure that our patients get the best possible treatment within their respective budgets. <br>
      <br>
      
      Based on patients' requirements and budgets, we suggest them the best hospitals doctors, & help them throughout the process so that they can recover speedily and return happily to their home country.</p>
             
            </div>
            <div class="modal-footer">
              <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
          </div>
        </div>
      </div>
       
       
       </div>
        
        </div>
        
        <div class="col-xs-12 col-sm-3 wow flipInX" data-wow-duration="1000ms" data-wow-delay="400ms">
        <div class="servi_new_3">
        <h1><img src="static/images/serv/serv2.jpg" class="img-responsive"></h1>
         <h3>Pre-Arrival Services </h3>
        
        <p style="height:244px;">It involves initial evaluation and reports review, At Humane Medical Tourism for every query/ inquiry which comes from a patient who is looking to get treated in India, we have a team of expert coordinators who are responsible for providing proper medical evaluation process with the help of our qualified and experienced panel doctors.</p>
      
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#servicet_wo">Know More</button>
       
       <div class="modal fade" id="servicet_wo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" style="text-align:left;">2. PRE-ARRIVAL SERVICES </br> <small style="display:block;color:#000;text-align:right;font-style:italic;">choose right...............be right </small></h4>
            </div>
            <div class="modal-body">
              <h1><img src="static/images/serv/s2.jpg" class="img-responsive center-block"></h1>
             
           <p style="color:#09F;">It involves initial evaluation and reports review, At Humane Medical Tourism for every query/ inquiry which comes from a patient who is looking to get treated in India, we have a team of expert coordinators who are responsible for providing proper medical evaluation process with the help of our qualified and experienced panel doctors.</p>
        <p><strong>Following are the services that we provide before a patient arrives in India</strong><br>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  We get doctor’s opinion from our partnered hospitals by sending the patient’s clinical /lab investigations reports received from patients.</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Online Consultations with Doctors across India (if required) before arrival.</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  To help the patient in paperwork for Medical Visa (M Visa)/ embassy Assistance Services  and treatment as per the laws of both the countries (Native  country and India)</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  After arrival confirmation, We Humane Medical tourism help in scheduling of medical appointments as and when required</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Let the patient know the approximate number days of hospital stay,</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Help the patient to plan his itinerary based on his convenience and availability of the doctor.</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Help the patient and decide the kind of accommodation he would require during his stay in India.</p></p>
             
             
            </div>
            <div class="modal-footer">
            <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
          </div>
        </div>
      </div>
       
        </div>
        
        </div>
        
        <div class="col-xs-12 col-sm-3 wow flipInX" data-wow-duration="1000ms" data-wow-delay="400ms">
        <div class="servi_new_3">
        <h1><img src="static/images/serv/serv3.jpg" class="img-responsive"></h1>
         <h3>Upon Arrival & Accommodation  </h3>
        
        <p style="height:226px;">On arrival we at Humane Medical Tourism ensure that everything you get as per initial planning’s. Upon arrival, starting from picking-up from the airport and till his departure, all type of required assistance is provided by us and our partnered hospital. </p>
        
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#servicet_hree">Know More</button>
        
        <div class="modal fade" id="servicet_hree" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" style="text-align:left;">3. UPON ARRIVAL </br> <small style="display:block;color:#000;text-align:right;font-style:italic;">Here We Are for you</small></h4>
            </div>
            <div class="modal-body">
             
             <h1><img src="static/images/serv/s3.jpg" class="img-responsive center-block"></h1>
             <p style="color:#09F;">On arrival we at Humane Medical Tourism ensure that everything you get as per initial planning’s. Upon arrival, starting from picking-up from the airport and till his departure, all type of required assistance is provided by us and our partnered hospital. </p>
             <p><strong>The services provided by Humane Medical Tourism upon arrival are mentioned below-</strong></p>
             
             <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Receiving of patient and his attendants at the airport (ambulance, if required) and transfer them to the accommodation/hospital as per the plan</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Providing affordable accommodation [Food, hotels (Budget, Deluxe and Luxury Hotels), guest house etc.] in the vicinity of hospital</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Special assistance for the handicapped patients</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Language translators/Interpreters  as per the patient’s requirement</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Foreign currency exchange</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Cell Phone Roaming Services /Local SIM/Call assistance</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  As per the plan take patient to the doctor for OPD consultation </p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Assure that our patients coordinator is there with the patient during the time when investigations/tests and OPD consultations taking place</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Keep the referral doctor/ family of the patient well informed about the progress of the patient</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Help to get the patient discharge and also to help patient settle his bills with the hospital.</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Help patient and attendant settle the bills for the Guest House/Hotel while checking out.</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Arrange for the attendants tours during the process of recuperation of the patient, if they require so Or do it along with the patient, as per the wish.</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Miscellaneous (any relevant services not mentioned above)</p>
             
            </div>
            <div class="modal-footer">
              <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
          </div>
        </div>
      </div>
        
        </div>
        
        </div>
        
        <div class="col-xs-12 col-sm-3 wow flipInX" data-wow-duration="1000ms" data-wow-delay="400ms">
       <div class="servi_new_3">
        <h1><img src="static/images/serv/serv4.jpg" class="img-responsive"></h1>
        <h3>Follow-up & Recreational Services  </h3>
        <p style="height:226px;">Our involvement with our valued patients continues even after returning to their home country. The idea is to be available for the patient in case he needs some help in his native country. </p>
        
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#servicef_our">Know More</button>
        
        <div class="modal fade" id="servicef_our" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" style="text-align:left;">4. FOLLOW-UP AND ACCOMMODATION</br> <small style="display:block;color:#000;text-align:right;font-style:italic;">We are Always with you</small></h4>
            </div>
            <div class="modal-body">
              <h1><img src="static/images/serv/s4.jpg" class="img-responsive center-block"></h1>
              <p style="color:#09F;">Our involvement with our valued patients continues even after returning to their home country. The idea is to be available for the patient in case he needs some help in his native country. </p>
              
              <p><strong>The following are the ways we try and remain associated with the patients.</strong></p>
              
              <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  We, Humane Medical Tourism will continuously provide patient educational material pertaining to his/her therapy. </p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Keep in touch with the patients on a regular basis through emails/fax/telephone</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  During the process of follow-up, arrange a call between the patient and the treating doctor in India</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Arrange follow-up camps in various countries through different hospitals and inform all our patients through email about it, so that they can also come and get themselves checked.</p>
      <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>  Arrange transport to the Airport for the patient's return journey to his home country.</p>
              
            </div>
            <div class="modal-footer">
              <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
          </div>
        </div>
      </div>
        
        </div>
        
        </div>
        
        </div><!--container end here-->
        
        </section>
        <!--Services section end here-->

        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/wow.min.js"></script>
        <script>new WOW().init();</script>
        <script src="static/js/skroll_background.js"></script>
        <script>
            $(function() {
              $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                  if (target.length) {
                    $('html, body').animate({
                      scrollTop: target.offset().top
                    }, 1000);
                    return false;
                  }
                }
              });
            });
            </script>
    
    
</body>
</html>